h1 {
    color:  rgb(189, 10, 40);
  }
 h1 {
     text-shadow: 2px 2px #FF0000;
 }
div.c {
    text-align: center;
}

  html {
    background-image: url("https://cdn.pixabay.com/photo/2019/10/19/11/35/wolf-4561204_960_720.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1400px 700px;
  }

  #myCanvas {
    border: 1px solid black;
  }
  
 